* {
  padding: 0;
  margin: 0;
  font-family: "sans-serif";
  font-size: 16px;
}

body {
  background-color: #f8bdc6;
}

.container {
  max-width: 615px;
  background-color: #fff;
  height: 1387px;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
}

.imagem {
  width: 500px;
  border-radius: 10px;
  margin: 30px 20px 10px 55px;
}

.Titulo {
  margin: 15px 20px 10px 55px;
}

.container2 {
  background-color: #f8bdc6;
  margin: 15px 20px 10px 55px;
  border-radius: 5px;
  height: 135px;
}

.container2 p {
  padding: 15px 0 0 25px;
  color: #960018;
}

.container2 ul {
  padding: 4px 0 0 50px;
}

.container2 li {
  padding: 8px 0 0 0;
}

.Titulo2 {
  margin: 15px 20px 10px 55px;
}

.Titulo2 p {
  color: #a52a2a;
}

.Titulo2 ul {
  padding: 8px 0 0 18px;
}

.Titulo2 li {
  padding: 8px 0 0 0;
}

.Instrucoes p {
  margin: 15px 20px 8px 55px;
  color: #a52a2a;
}

.Instrucoes ol {
  margin: 8px 20px 8px 73px;
}

.Instrucoes li {
  padding: 8px 0 0 0;
}

.nutricao2 {
  margin: 15px 20px 8px 55px;
  color: #a52a2a;
}

.nutricao p {
  margin: 15px 20px 8px 55px;
}

#calorias,
.calorias {
  display: inline-block;
}

#calorias {
  margin: 0;
  padding: 0 0 0 101px;
}

#calorias,
.calorias {
  display: inline-block;
}

#calorias {
  margin: 0;
  padding: 0 0 0 101px;
}

#carboidratos,
.carboidratos {
  display: inline-block;
}

#carboidratos {
  margin: 0;
  padding: 0 0 0 70px;
}

#proteina,
.proteina {
  display: inline-block;
}

#proteina {
  margin: 0;
  padding: 0 0 0 98px;
}

#gordura,
.gordura {
  display: inline-block;
}

#gordura {
  margin: 0;
  padding: 0 0 0 97px;
}

span {
  font-weight: bold;
}

@media (min-width: 320px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "sans-serif";
    font-size: 10px;
  }

  body {
    background-color: #f8bdc6;
  }

  .container {
    max-width: 100px;
    background-color: #fff;
    height: 1666px;
    margin: 15px 40px 0 13px;
    border-radius: 10px;
  }

  .imagem {
    width: 90px;
    border-radius: 10px;
    margin: 10px 20px 0 4px;
  }

  .Titulo {
    margin: 5px 20px 0 5px;
  }

  .container2 {
    background-color: #f8bdc6;
    margin: 10px 20px 10px 5px;
    border-radius: 5px;
    height: 50x;
    width: 90px;
  }

  .container2 p {
    padding: 10px 0 0 2px;
    color: #960018;
  }

  .container2 ul {
    padding: 4px 0 0 15px;
  }

  .container2 li {
    padding: 5px 0 0 0;
  }

  .Titulo2 {
    margin: 10px 20px 0 5px;
  }

  .Titulo2 p {
    color: #a52a2a;
  }

  .Titulo2 ul {
    padding: 8px 0 0 14px;
  }

  .Titulo2 li {
    padding: 8px 0 0 0;
  }

  .Instrucoes p {
    margin: 15px 20px 0 5px;
    color: #a52a2a;
  }

  .Instrucoes ol {
    margin: 8px 20px 8px 15px;
  }

  .Instrucoes li {
    padding: 8px 0 0 0;
  }

  .nutricao2 {
    margin: 10px 5px 0 5px;
    color: #a52a2a;
  }

  .nutricao p {
    margin: 10px 5px 0 5px;
  }

  .calorias {
    padding: 0px 0 0 0;
  }

  #calorias {
    margin: 1px 0 0px 0;
    padding: 0px 0 0 0;
  }

  .carboidratos {
    padding: 0px 0 0 0;
  }

  #carboidratos {
    padding: 0px 0 0 0;
  }

  .proteina {
    padding: 0px 0 0 0;
  }

  #proteina {
    padding: 0px 0 0 0;
  }

  .gordura {
    padding: 0px 0 0 0;
  }

  #gordura {
    padding: 0px 0 0 0;
  }
}
